ul.tabs
 li
  a.tab_link(href='#' data-content='status') Status
 li
  a.tab_link(href='#' data-content='logs') Logs

div.tab_content#status
 h3 Select project and then come here to see the status
div.tab_content#logs
 h3 Select project and then come here to see the logs
script(type='text/javascript' src='/javascripts/tabs.js')

