.reposList {
    display: inline-block;
    width:  100%;
    height: 80vh;
    overflow-y: scroll;
}

.reposList .repo {
    width: 100%;
    display: block;
    border: 1px solid #eaeaea;
    padding: 15px;
    background-color: lightgray;
    color: black;
    font-size: 16px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
}

.reposList .repo:hover {
    background-color: #808080;
    color: #ffffff;
}

.reposList .repo.selected {
    background-color: #444444;
    color: #ffffff;
}

.pullAllReposList {
    font-size: 18px;
    margin: 20px;
}

.pullAllReposList .pullAllRepo {
    padding: 5px;
}

.pullAllRepo .status {
    padding: 50px;
    font-family: serif;
    color: #daa520;
}