.status .untrackedFiles {
    padding-left: 30px;
}

.status .untrackedFiles .untrackedFile {
    color: #ff4500;
}

.status .unstagedFiles {
    padding-left: 30px;
}

.unstagedFiles .unstagedFile {
    color: #e87d0d;
}

.status .stagedFiles {
    padding-left: 30px;
}

.stagedFiles .stagedFile {
    color: #008000;
}

.status .behindAheadNumber {
    color: #000080;
    padding-left: 10px;
}

.status .message {
    margin-top: 10px;
    border: 1px solid #fff099;
    padding: 10px;
    background: #fffbe6;
    color: #998200;
}