@import url("repos.css");
@import url("tabs.css");
@import url("status.css");
@import url("logs.css");
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
}

a {
  color: #00B7FF;
}

.centerText {
  text-align: center;
}

.container {
  padding: 10px 50px 30px;
}

.row_25 {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.row_75 {
  width: 75%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.pathDiv {
  margin: 50px;
}

.pathInput {
  width: 50%;
  height: 30px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.clear-fix {
  clear: both;
}

.btn {
  font-size: 18px;
  background: #efefef;
  border: 2px solid #999999;
  border-right-color: #d3d3d3;
  border-bottom-color: #d3d3d3;
  cursor: pointer;
  padding: 10px;
  color: #666666;
  margin: 5px;
}