@import url("repos.css");
@import url("tabs.css");
@import url("status.css");
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

.centerText {
  text-align: center;
}

.container {
  padding: 10px 50px 30px;
}

.row_30 {
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.row_70 {
  width: 70%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.pathDiv {
  margin: 50px;
}

.pathInput {
  width: 50%;
  height: 30px;
  font-size: 20px;
}

.hidden {
  display: none;
}
