body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centerText {
  text-align: center;
}

.pathDiv {
  margin: 50px;
}

.pathInput {
  width: 50%;
  height: 30px;
  font-size: 20px;
}

.hidden {
  display: none;
}
